<h1>Main Menu</h1>
<div class="table-responsive">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Manage Stores</th>
        <th>Manage Articles</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= link_to 'Stores', stores_path %></td>
        <td><%= link_to 'Articles', articles_path %></td>
      </tr>
    </tbody>
  </table>
</div>